@import 'tailwindcss';

@layer base {
  *,
  *::before,
  *::after {
    box-sizing: border-box;
    user-select: none;
  }

  html,
  body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
  }
}
