---
import '../styles/global.css'

const { title = 'BackArch' } = Astro.props;
---

<!doctype html>
<html lang="en" class="antialiased">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />

    <title>{title}</title>
    <meta name="description" content="add before" />

    <meta
      name="keywords"
      content="arch"
    />
    <meta name="author" content="Johan Amed" />

    <link rel="icon" href="/favicon-16x16.png" sizes="16x16" type="image/png" />
    <link rel="icon" href="/favicon-32x32.png" sizes="32x32" type="image/png" />
    <link rel="icon" href="/favicon-64x64.png" sizes="64x64" type="image/png" />
    <link
      rel="icon"
      href="/favicon-120x120.png"
      sizes="120x120"
      type="image/png"
    />
  </head>

  <body class="font-rubik bg-slate-900 text-white min-h-screen">
    <slot />
  </body>
</html>
